<div class="form-items">
  <div class="form-items__item">
    <div>
      <label>Title:</label>
    </div>
    <div>
      <input type="text" id="title" name="title" autocomplete="title" required>
    </div>
  </div>
  <div class="form-items__item">
    <div>
      <label>Description:</label>
    </div>
    <div>
      <textarea id="content" name="content" rows="4" cols="50" required></textarea>
    </div>
  </div>
</div>
