<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/memos.js"></script>
  <link rel="stylesheet" href="/css/main.css">
  <title>Memo List</title>
</head>
<body>
  <h1>MEMOアプリ</h1>
  <h2>一覧</h2>
  <div>
    <ul>
      <div id="data-container"></div>
    </ul>
  </div>
  <form action="/memos/new" method="get">
    <input type="submit" value="Add">
  </form>
</body>
</html>
