<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Create</title>
  </head>
  <body>
    <h1>MEMOアプリ</h1>
    <form action="/memos" method="post">
      <% erb: _item_fields %>
      <div class="button-container">
        <input type="submit" value="Save" class="form">
      </div>
    </form>
    <div class="button-container">
      <form action="/memos" method="get" class="form">
        <input type="submit" value="Back">
      </form>
    </div>
  </body>
</html>
